//usamos modernizer para ver si carga o no la imagen webp
.no-webp .imagen-contacto {
  background-image: url("../../../AuxiliarImages/image.jpg");
}
.webp .imagen-contacto {
  background-image: url("../../../AuxiliarImages/image.jpg");
}

.imagen-contacto {
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 4rem;
    font-weight: $black;
    color: $blanco;
  }
  h3 {
    font-size: 2rem;
    font-weight: $black;
    color: $blanco;
  }
  p {
    font-size: 1.8rem;
    color: $blanco;
  }
  .imagen-contacto::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
