.formulario {
  p {
    font-size: 1.4rem;
    color: $grisOscuro;
    padding: 2rem 0 0 0;
  }
  legend {
    font-size: 2rem;
    color: $grisOscuro;
  }

  label {
    font-weight: $bold;
    text-transform: uppercase;
    display: block;
  }
  input:not([type="submit"]),
  textarea,
  select {
    // aplica a todos menos al tipo submit
    padding: 2rem;
    display: block;
    width: 70%;
    background-color: $blanco;
    border: 1px solid $gris;
    border-radius: 1rem;
    border-bottom: 2rem;
  }
  .forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input[type="radio"] {
    margin: 0;
    width: auto;
  }

  textarea {
    height: 20rem;
  }
}

.dark-mode {
  .formulario {
    p,
    legend,
    label {
      color: $blanco;
    }
    input {
      color: $negro;
    }
  }
}
.contenedor-nuevopro {
  margin: 2rem;
}

.ocultar {
  display: none;
}
