.contenedor-nosotros {
  margin-bottom: 5rem;
  padding: 2rem;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;

    h2 {
      margin: 0;
      margin-bottom: 3rem;
      font-style: italic;
      display: flex;
      justify-content: flex-start;
      font-weight: $regular;
    }
    .imagen-nosotros {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.contenedor {
  h1 {
    font-weight: $bold;
  }
}

.texto-nosotros {
  font-weight: $regular;
  text-align: justify;
  font-size: 2.2rem;
  margin: 0;
  padding-left: 1rem 0 3rem 0;

  color: $negro;
}

.dark-mode {
  .texto-nosotros {
    color: $blanco;
  }
}

#title_nosotros {
  margin-bottom: 5rem;
}

.foto-chica {
  width: 80%;
  margin: 0 auto;
}
