.video{
    position: relative; //Posicion relativa de todo el contenedor
    max-height: 55rem; //Se usa para sacar el maximo de la pantalla que se esta ejecutando y no se desborde
    overflow: hidden; //Sirve para cuando el contenedor se hace pequeño, el resto del contenido que se sale se oculta

    .overlay{
        position: absolute; //Toma el tamaño completo para asignar coordenadas
        width: 100%;
       height: 100%;
        background-color: $rosa;
        
        //Degradado del video
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#891c1e+0,9e37f2+71,ffffff+100&0.8+0,0.5+100 */
background: -moz-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%, rgba(158,55,242,0.59) 71%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.59) 71%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(137,28,30,0.8) 0%,rgba(158,55,242,0.59) 71%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc891c1e', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    video{
        display: block; //para que se quede fijo
        width: 100%;
    
    }
}

.contenido-video{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1; //Estas ultimas dos lineas permiten seleccionar el codigo, el zindex es como el indice d eun cuaderno, esta diciendo
    //que esta hoja valla arriba, si pones -1 se va para atras

    h2{
        display: flex;
        flex-direction: column;
        align-items: flex-start; //fuerza a los elementos que se vallan a la izquierda y deja de depender el span del h1
        color: $blanco;
        font-size: 7rem;

        span{
            background-color: $rosa;
            font-size: 2rem;
            padding: 1rem 2rem;
        }
    }
}
