.boton-amarillo {
  @include boton($amarillo, inline-block);
} //este mixin ocupa todo el espacio y es amarillo

.boton-rojo {
  @include boton($rojo, inline-block);
}
.boton-amarillo-block {
  @include boton($amarillo, block);
} //este mixin ocupa solo el necesario y es amarillo

.boton-verder {
  @include boton($verde, inline-block);
}

.boton-ocultar {
  @include botonPequeno($amarillo, block);
}

.boton-rojo-block {
  @include boton($rojo, block);
  margin: 0 auto;
  margin-top: 5rem;
  width: 60%;
}
.bton-gray-block {
  @include boton($grisOscuro, block);
}
.boton-verde-block {
  @include boton($verde, block);
}
