html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;
}
ul {
  list-style: none;
}
p {
  color: $negro;
  font-size: 2rem;
  word-break: break-all;
  white-space: normal;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: $fuente_principal;
  margin: $separacion / 2 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}

.imagenCarrito {
  width: 3rem;
  height: 3rem;
  filter: invert(100%);
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}
.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;

  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;

  min-height: 40rem;
  min-width: 30rem;
}
.rowC {
  padding-top: 1.5rem;
}
