.seccion {
  margin-top: $separacion;
  margin-bottom: $separacion;
  h1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.contenido-centrado {
  max-width: 800px;
}

.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

.alinear-centro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alinear-izquierda {
  display: flex;
  gap: 2rem;
}
.cantidad {
  margin-bottom: 2rem;
}

.w-100 {
  width: 100%;
}
